/cpp_lianxi
/isns/myisns/myisns.PO
/isns/myisns/myisns.PR
/isns/myisns/myisns.PRI
/isns/myisns/myisns.PS
/isns/myisns/myisns.SearchResults
/isns/myisns/myisns.WK3
/isns/myisns/myisns.IAB
/isns/myisns/myisns.IAD
/isns/myisns/myisns.IMB
/isns/myisns/myisns.IMD
/isns/myisns/myisns.PFI
/cpplianxi
/isns/myisns/isnsserver/*.PO
/isns/myisns/isnsserver/*.PR
/isns/myisns/isnsserver/*.PRI
/isns/myisns/isnsserver/*.PS
/isns/myisns/isnsserver/*.IAB
/isns/myisns/isnsserver/*.IAD
/isns/myisns/isnsserver/*.IMB
/isns/myisns/isnsserver/*.IMD
/isns/myisns/isnsserver/*.PFI
