/cpp_lianxi
/isns/myisns/*.PO
/isns/myisns/*.PR
/isns/myisns/*.PRI
/isns/myisns/*.PS
/isns/myisns/*.SearchResults
/isns/myisns/*.WK3
/isns/myisns/*.IAB
/isns/myisns/*.IAD
/isns/myisns/*.IMB
/isns/myisns/*.IMD
/isns/myisns/*.PFI
/cpplianxi
/isns/myisns/isnsserver/*.PO
/isns/myisns/isnsserver/*.PR
/isns/myisns/isnsserver/*.PRI
/isns/myisns/isnsserver/*.PS
/isns/myisns/isnsserver/*.IAB
/isns/myisns/isnsserver/*.IAD
/isns/myisns/isnsserver/*.IMB
/isns/myisns/isnsserver/*.IMD
/isns/myisns/isnsserver/*.PFI
